@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul {
  
  flex-direction: row; /* Change to row for horizontal layout */
  align-items: center; /* Center items vertically */
  list-style-type: none;
  padding: 0; /* Remove default padding */
  

  li {
    padding: 6px;
    

    a {
      position: relative;
      display: block;
      padding: 4px 8px; /* Adjust padding */
      font-family: Lato, sans-serif;
      color: #947599;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;

      &::after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #3498db;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.5s;
      }

      &:hover {
        color: #95a5a6;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }
  li:hover ul {
    display: block;
    margin-top: 8px;
    transition: all 1.5s ease;
    border-radius: 3px;
   
  }

  li ul {
    display: none;
    position: absolute;
    background: #1A1E23;
    padding: 10px;
    margin-top: 6px;
    list-style-type: none;

    
    
    

    li {
      padding: 6px;

      a {
        color: #ecf0f1;
        transition: color 1.5s ease;
        
        &:hover {
          color: #a69595;
          }
      }
    }
  }


}

#a-navbar-drop{
    color: rgb(10, 150, 17);
    
}